In [ ]:
def Mouparna(val1,val2):
  return val1+val2

In [ ]:
Mouparna(1,2)

3

In [ ]:
Mouparna("hello","world")

'helloworld'

In [ ]:
mouparna("hello", 3)

NameError: ignored

Can not add these two values as one is string and another one is int.

In [ ]:
Mouparna("hello", '3')

'hello3'

to read ,write and append

In [ ]:
ml = open('first.txt', 'wt')
ml.write(Mouparna("bye","world"))
ml.close()

In [ ]:
!wget https://raw.githubusercontent.com/a-forty-two/CGI-DPplusPy/main/breastcancer_data.csv

--2022-09-07 06:15:14--  https://raw.githubusercontent.com/a-forty-two/CGI-DPplusPy/main/breastcancer_data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.109.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 80005 (78K) [text/plain]
Saving to: ‘breastcancer_data.csv’

breastcancer_data.c 100%[===================>]  78.13K  --.-KB/s    in 0.01s

2022-09-07 06:15:14 (6.19 MB/s) - ‘breastcancer_data.csv’ saved [80005/80005]

returns the file name and directories in the path specified

In [ ]:
!ls

breastcancer_data.csv  first.txt  sample_data

Pandas

In [ ]:
import pandas
dataset = pandas.read_csv('breastcancer_data.csv', header=0)

In [ ]:
dataset

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,symmetry_mean,fractal_dimension_mean
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.2419,0.07871
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.1812,0.05667
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.2069,0.05999
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.2597,0.09744
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.1809,0.05883
...,...,...,...,...,...,...,...,...,...,...,...
1133,93316,M,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.1726,0.05623
1134,93317,M,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.1752,0.05533
1135,93318,M,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.1590,0.05648
1136,93319,M,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.2397,0.07016
1137,93320,B,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.1587,0.05884

In [ ]:
dataset['fractal_dimension_mean']

0       0.07871
1       0.05667
2       0.05999
3       0.09744
4       0.05883
         ...
1133    0.05623
1134    0.05533
1135    0.05648
1136    0.07016
1137    0.05884
Name: fractal_dimension_mean, Length: 1138, dtype: float64

creating list

In [ ]:
list1 = [1, 2, 'girl', 'boy', True]

In [ ]:
list1

[1, 2, 'girl', 'boy', True]

indexing

In [ ]:
list1[2]

'girl'

In [ ]:
list1[-2]

'boy'

creating another list

In [ ]:
list2 = [1, -1,'he','she']

In [ ]:
list2

[1, -1, 'he', 'she']

concatinate 2 lists

In [ ]:
list3=[list1,list2]

In [ ]:
list3

[[1, 2, 'girl', 'boy', True], [1, -1, 'he', 'she']]

In [ ]:
list3[0]

[1, 2, 'girl', 'boy', True]

In [ ]:
list3[1]

[1, -1, 'he', 'she']

list is ordered and indexed

In [ ]:
bank = [ 1, 2, 2, 3, 'SBI', 100, False, 22.7, 'HDFC']

change list to set,set is unordered

In [ ]:
set1 = set(bank)
set1

{1, 100, 2, 22.7, 3, False, 'HDFC', 'SBI'}

as set is not indexed ,so it is giving error

In [ ]:
set1[0]

TypeError: ignored

In [ ]:
set2 = {set1, 'omnni'}

TypeError: ignored

UNION and INTERSECTION, SET add, subtract-> only ops
SQL JOIN

tuples-once created, cannot be modified

In [ ]:
tup = (1,2,3)

In [ ]:
print(list1)
del list1[-1]
print(list1)

[1, 2, 'girl', 'boy', True]
[1, 2, 'girl', 'boy']

can not delete tuple

In [ ]:
del tup[1]

TypeError: ignored

can not assign

In [ ]:
tup[0] = 42

TypeError: ignored

Dictionary

In [ ]:
dict1 = {0:"bye", 1:"World", False:True, 'tom':'jerry'}

indexing

In [ ]:
dict1['tom']

'jerry'

functions,classes

Functions can return multiple values!

In [ ]:
def divide(a,b):
  q = int(a/b)
  r = a%b
  return q,r

a,b = divide(10,3)
print(a,b)

3 1

In [ ]:
def divide(a,b):
  q = int(a/b)
  r = a%b
  return (q,r)

a = divide(10,3)
print(a)
print(a[0])

(3, 1)
3

lambda function

In [ ]:
convert_to_gm = lambda x: x*1000
convert_to_gm(5)

5000

y = 2ab+c

In [ ]:
y = lambda a,b,c: 2*a*b + c
y(3,2,0)

12

Loops-> do_while, while, for, foreach

FOR

In [ ]:
for i in [9,8,7,6,5,4]:
  print(i)

9
8
7
6
5
4

In [ ]:
for i in list1:
  print(i)

1
2
girl
boy

In [ ]:
counter = len(list1) -1
while(counter>=0):
  print(list1[counter])
  counter = counter - 1

boy
girl
2
1

squares of all numbers between 1 to 10

In [ ]:
base = [ i for i in range(12)]
base

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
squares = [ i*i for i in base]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

combining regular lambdas with functions

In [ ]:
def cal(y):
  return lambda x: x**y

In [ ]:
squares = cal(2)
cube = cal(3)

In [ ]:
squares(10)

100

In [ ]:
cube(3)

27

class

In [ ]:
class myoffice:
  def location():
    return 'Kolkata'
  def training(this):
    return '4 months'

Object

In [ ]:
obj = myoffice()
print(obj.training())
print(obj.location())

4 months

TypeError: ignored

In [ ]:
class movies:
  def __init__(this):
    this.name = "Notebook"
    this.rate ='r'
    this.performance = 'great'
    this.Status = True
  def setNewProperties(this, name, age):
    this.name = name
    this.age = age
  def getmoviesProperties(this):
    return this.name, this.rate, this.performance, ("hit" if this.Status==True else "flop")

In [ ]:
entertainment = movies()
entertainment.getmoviesProperties()

('Notebook', 'r', 'great', 'hit')

In [ ]:
class xyz:
  def maths(this, x,y):
    return x*y
  def maths(this, z):
    return z*z

ob = xyz()
print(ob.maths(4))
print(ob.maths(3,2))

16

TypeError: ignored

Series and Propagation
Arithmetic series-> Fibonacci series
Special Function-> __iter__, __next__-> first definition, how to propagate

In [ ]:
class calculation:
  def __iter__(self):
    self.base = -1
    self.step = 2
    return self
  def __next__(self):
    self.base = self.base + self.step
    return self.base

In [ ]:
obj = calculation()
i = iter(obj)

to propagate

In [ ]:
for k in range(12):
  print(next(i))

1
3
5
7
9
11
13
15
17
19
21
23

In [ ]:
class Fibonacci:
  def __iter__(fibo):
    fibo.first = -1
    fibo.second = 1
    return fibo
  def __next__(fibo):
    fibo.third = fibo.first + fibo.second # 0
    fibo.first = fibo.second #
    fibo.second = fibo.third

    return fibo.third

In [ ]:
i = iter(Fibonacci())
for k in range(10):
  print(next(i))

0
1
1
2
3
5
8
13
21
34

In [ ]:
marks = [10,22,38,14,55,46,97,48,78,68]
name = ['John','Paul','John','Paul','John','Paul','John','Paul','Rattatoo','Jojo']

In [ ]:
import pandas as pd
df = pd.DataFrame(
    {'marks':marks,
    'name':name}
)

slicing

In [ ]:
df.loc[ 2:5, ['marks']]

   marks
2     38
3     14
4     55
5     46

In [ ]:
df.iloc[ 2:5, [1]]

   name
2  John
3  Paul
4  John

In [ ]:
df.iloc[:5, :]

   marks  name
0     10  John
1     22  Paul
2     38  John
3     14  Paul
4     55  John

In [ ]:
df.iloc[:5, :-1]

   marks
0     10
1     22
2     38
3     14
4     55

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/a-forty-two/CGI-DPplusPy/main/breastcancer_data.csv', header=0)

default values from top=5

In [ ]:
data.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,symmetry_mean,fractal_dimension_mean
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.2419,0.07871
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.1812,0.05667
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.2069,0.05999
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.2597,0.09744
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.1809,0.05883

In [ ]:
data.head(10)

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,symmetry_mean,fractal_dimension_mean
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.2419,0.07871
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.1812,0.05667
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.2069,0.05999
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.2597,0.09744
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.1809,0.05883
5,843786,M,12.45,15.70,82.57,477.1,0.12780,0.17000,0.15780,0.2087,0.07613
6,844359,M,18.25,19.98,119.60,1040.0,0.09463,0.10900,0.11270,0.1794,0.05742
7,84458202,M,13.71,20.83,90.20,577.9,0.11890,0.16450,0.09366,0.2196,0.07451
8,844981,M,13.00,21.82,87.50,519.8,0.12730,0.19320,0.18590,0.2350,0.07389
9,84501001,M,12.46,24.04,83.97,475.9,0.11860,0.23960,0.22730,0.2030,0.08243

In [ ]:
data.tail(10)

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,symmetry_mean,fractal_dimension_mean
1128,93311,B,11.51,23.93,74.52,403.5,0.09261,0.10210,0.11120,0.1388,0.06570
1129,93312,B,14.05,27.15,91.38,600.4,0.09929,0.11260,0.04462,0.1537,0.06171
1130,93313,B,11.20,29.37,70.67,386.0,0.07449,0.03558,0.00000,0.1060,0.05502
1131,93314,M,15.22,30.62,103.40,716.9,0.10480,0.20870,0.25500,0.2128,0.07152
1132,93315,M,20.92,25.09,143.00,1347.0,0.10990,0.22360,0.31740,0.2149,0.06879
1133,93316,M,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.1726,0.05623
1134,93317,M,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.1752,0.05533
1135,93318,M,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.1590,0.05648
1136,93319,M,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.2397,0.07016
1137,93320,B,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.1587,0.05884

Cleaning and Transforming Data

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1138 entries, 0 to 1137
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1138 non-null   int64
 1   diagnosis               1138 non-null   object
 2   radius_mean             1138 non-null   float64
 3   texture_mean            1138 non-null   float64
 4   perimeter_mean          1138 non-null   float64
 5   area_mean               1138 non-null   float64
 6   smoothness_mean         1138 non-null   float64
 7   compactness_mean        1138 non-null   float64
 8   concavity_mean          1138 non-null   float64
 9   symmetry_mean           1138 non-null   float64
 10  fractal_dimension_mean  1138 non-null   float64
dtypes: float64(9), int64(1), object(1)
memory usage: 97.9+ KB

 Drop the data

In [ ]:
print(dir(data))

['T', '_AXIS_LEN', '_AXIS_ORDERS', '_AXIS_REVERSED', '_AXIS_TO_AXIS_NUMBER', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_ufunc__', '__array_wrap__', '__bool__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_accum_func', '_add_numeric_operations', '_agg_by_level', '_agg_examples_doc', '_agg_summary_and_see_also_doc', '_align_frame', '_align_series', '_arith_method', '_as_manager', '_attrs', '_box_col_values', '_can_fast_transpose', '_check_inplace_and_allows_duplicate_labels', '_check_inplace_setting', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_cmp_method', '_combine_frame', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_axes_from_arguments', '_construct_result', '_constructor', '_constructor_sliced', '_convert', '_count_level', '_data', '_dir_additions', '_dir_deletions', '_dispatch_frame_op', '_drop_axis', '_drop_labels_or_levels', '_ensure_valid_index', '_find_valid_index', '_flags', '_from_arrays', '_from_mgr', '_get_agg_axis', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cleaned_column_resolvers', '_get_column_array', '_get_index_resolvers', '_get_item_cache', '_get_label_or_level_values', '_get_numeric_data', '_get_value', '_getitem_bool_array', '_getitem_multilevel', '_gotitem', '_hidden_attrs', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_info_repr', '_init_mgr', '_inplace_method', '_internal_names', '_internal_names_set', '_is_copy', '_is_homogeneous_type', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_view', '_iset_item', '_iset_item_mgr', '_iset_not_inplace', '_item_cache', '_iter_column_arrays', '_ixs', '_join_compat', '_logical_func', '_logical_method', '_maybe_cache_changed', '_maybe_update_cacher', '_metadata', '_mgr', '_min_count_stat_function', '_needs_reindex_multi', '_protect_consolidate', '_reduce', '_reindex_axes', '_reindex_columns', '_reindex_index', '_reindex_multi', '_reindex_with_indexers', '_replace_columnwise', '_repr_data_resource_', '_repr_fits_horizontal_', '_repr_fits_vertical_', '_repr_html_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_sanitize_column', '_series', '_set_axis', '_set_axis_name', '_set_axis_nocheck', '_set_is_copy', '_set_item', '_set_item_frame_value', '_set_item_mgr', '_set_value', '_setitem_array', '_setitem_frame', '_setitem_slice', '_slice', '_stat_axis', '_stat_axis_name', '_stat_axis_number', '_stat_function', '_stat_function_ddof', '_take_with_is_copy', '_to_dict_of_blocks', '_typ', '_update_inplace', '_validate_dtype', '_values', '_where', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'append', 'apply', 'applymap', 'area_mean', 'asfreq', 'asof', 'assign', 'astype', 'at', 'at_time', 'attrs', 'axes', 'backfill', 'between_time', 'bfill', 'bool', 'boxplot', 'clip', 'columns', 'combine', 'combine_first', 'compactness_mean', 'compare', 'concavity_mean', 'convert_dtypes', 'copy', 'corr', 'corrwith', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diagnosis', 'diff', 'div', 'divide', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'eval', 'ewm', 'expanding', 'explode', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'fractal_dimension_mean', 'from_dict', 'from_records', 'ge', 'get', 'groupby', 'gt', 'head', 'hist', 'iat', 'id', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'insert', 'interpolate', 'isin', 'isna', 'isnull', 'items', 'iteritems', 'iterrows', 'itertuples', 'join', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lookup', 'lt', 'mad', 'mask', 'max', 'mean', 'median', 'melt', 'memory_usage', 'merge', 'min', 'mod', 'mode', 'mul', 'multiply', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'perimeter_mean', 'pipe', 'pivot', 'pivot_table', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'query', 'radd', 'radius_mean', 'rank', 'rdiv', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'select_dtypes', 'sem', 'set_axis', 'set_flags', 'set_index', 'shape', 'shift', 'size', 'skew', 'slice_shift', 'smoothness_mean', 'sort_index', 'sort_values', 'squeeze', 'stack', 'std', 'style', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'symmetry_mean', 'tail', 'take', 'texture_mean', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_feather', 'to_gbq', 'to_hdf', 'to_html', 'to_json', 'to_latex', 'to_markdown', 'to_numpy', 'to_parquet', 'to_period', 'to_pickle', 'to_records', 'to_sql', 'to_stata', 'to_string', 'to_timestamp', 'to_xarray', 'to_xml', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unstack', 'update', 'value_counts', 'values', 'var', 'where', 'xs']

In [ ]:
a = open('cts.txt','wt')
print(a.__dict__)

{'mode': 'wt'}

In [ ]:
a = open('cts.txt','wt')
print(a.__dict__)

{'mode': 'wt'}

In [ ]:
print(dir(a))

['_CHUNK_SIZE', '__class__', '__del__', '__delattr__', '__dict__', '__dir__', '__doc__', '__enter__', '__eq__', '__exit__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__lt__', '__ne__', '__new__', '__next__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '_checkClosed', '_checkReadable', '_checkSeekable', '_checkWritable', '_finalizing', 'buffer', 'close', 'closed', 'detach', 'encoding', 'errors', 'fileno', 'flush', 'isatty', 'line_buffering', 'mode', 'name', 'newlines', 'read', 'readable', 'readline', 'readlines', 'reconfigure', 'seek', 'seekable', 'tell', 'truncate', 'writable', 'write', 'write_through', 'writelines']

In [ ]:
data.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,symmetry_mean,fractal_dimension_mean
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.2419,0.07871
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.1812,0.05667
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.2069,0.05999
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.2597,0.09744
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.1809,0.05883

In [ ]:
data.describe()

,id,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,symmetry_mean,fractal_dimension_mean
count,1.138000e+03,1138.000000,1138.000000,1138.000000,1138.000000,1138.000000,1138.000000,1138.000000,1138.000000,1138.000000
mean,1.523243e+07,14.127292,19.289649,91.969033,654.889104,0.096360,0.104341,0.088799,0.181162,0.062798
std,8.965268e+07,3.522499,4.299144,24.288293,351.759340,0.014058,0.052790,0.079685,0.027402,0.007057
min,8.670000e+03,6.981000,9.710000,43.790000,143.500000,0.052630,0.019380,0.000000,0.106000,0.049960
25%,9.299525e+04,11.700000,16.170000,75.170000,420.300000,0.086370,0.064920,0.029560,0.161900,0.057700
50%,9.327950e+04,13.370000,18.840000,86.240000,551.100000,0.095870,0.092630,0.061540,0.179200,0.061540
75%,9.060125e+05,15.780000,21.800000,104.100000,782.700000,0.105300,0.130400,0.130700,0.195700,0.066120
max,9.113205e+08,28.110000,39.280000,188.500000,2501.000000,0.163400,0.345400,0.426800,0.304000,0.097440

In [ ]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
id,1138.0,1.523243e+07,8.965268e+07,8670.00000,92995.25000,93279.50000,906012.50000,9.113205e+08
radius_mean,1138.0,1.412729e+01,3.522499e+00,6.98100,11.70000,13.37000,15.78000,2.811000e+01
texture_mean,1138.0,1.928965e+01,4.299144e+00,9.71000,16.17000,18.84000,21.80000,3.928000e+01
perimeter_mean,1138.0,9.196903e+01,2.428829e+01,43.79000,75.17000,86.24000,104.10000,1.885000e+02
area_mean,1138.0,6.548891e+02,3.517593e+02,143.50000,420.30000,551.10000,782.70000,2.501000e+03
smoothness_mean,1138.0,9.636028e-02,1.405794e-02,0.05263,0.08637,0.09587,0.10530,1.634000e-01
compactness_mean,1138.0,1.043410e-01,5.278953e-02,0.01938,0.06492,0.09263,0.13040,3.454000e-01
concavity_mean,1138.0,8.879932e-02,7.968474e-02,0.00000,0.02956,0.06154,0.13070,4.268000e-01
symmetry_mean,1138.0,1.811619e-01,2.740222e-02,0.10600,0.16190,0.17920,0.19570,3.040000e-01
fractal_dimension_mean,1138.0,6.279761e-02,7.057257e-03,0.04996,0.05770,0.06154,0.06612,9.744000e-02

In [ ]:
restofdata = data.iloc[:, 2:]
restofdata.head()

,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,symmetry_mean,fractal_dimension_mean
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.2419,0.07871
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.1812,0.05667
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.2069,0.05999
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.2597,0.09744
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.1809,0.05883

In [ ]:
stats = restofdata.describe().T
mu = stats['mean']
sigma = stats['std']

In [ ]:
normalizeddata = (restofdata - mu)/sigma

In [ ]:
normalizeddata.head()

,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,symmetry_mean,fractal_dimension_mean
0,1.096582,-2.072424,1.269376,0.983942,1.567777,3.282072,2.651708,2.216540,2.254756
1,1.829016,-0.353477,1.685214,1.907869,-0.826599,-0.486858,-0.023835,0.001392,-0.868271
2,1.579194,0.455986,1.565815,1.558199,0.941796,1.052463,1.362879,0.939272,-0.397833
3,-0.768571,0.253621,-0.592427,-0.764128,3.282110,3.401414,1.915055,2.866123,4.908761
4,1.749527,-1.151310,1.775792,1.825427,0.280249,0.539103,1.370409,-0.009556,-0.562203